<div class="modal-header">
    <h3 class="modal-title">Edit Contact</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-1s">
            <label>First Name</label> <input type="text" ng-model="editData.firstName" ng-required="editData.firstName"
                                             class="input-sm spacing"/>
        </div>
        <div class="col-1s">
            <label>Middle Name</label> <input type="text" ng-model="editData.middleName" class="input-sm spacing"
        /></div>
        <div class="col-1s"><label>Last Name</label> <input type="text" ng-model="editData.lastName"
                                                            class="input-sm spacing"
        /></div>
        <div class="col-1s">
            <label>Phone Number</label> <input name="phone" type="text" ng-model="editData.phoneNumber"
                                               class="input-sm spacing"
                                               ng-change="phoneNoValidation(editData.phoneNumber)"
        />
            <span class="error" ng-show="isValidPhoneNo">Length must equal to 10</span>
        </div>
        <div class="col-1s">
            <label>Contact Type</label> <select class="input-sm spacing" ng-model="editData.contactType"
                                                ng-options="item for item in cType">
            <option value="?" selected="selected">Home</option>
        </select>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button"
            ng-click="updateData()">Update
    </button>
    <button class="btn btn-warning" type="button"
            ng-click="close()">Cancel
    </button>
</div>
